Package: soma-connect
Version: 2.3.2
Section: base
Priority: optional
Architecture: armhf
Depends: ifplugd, bluez, rsyslog, libatomic1:armhf, libstdc++6:armhf
Maintainer: SOMA <support@somasmarthome.com>
Uploaders: KevinBNaughton <kevinbnaughton@gmail.com>
Changed-By: KevinBNaughton <kevinbnaughton@gmail.com>
Description: SOMA Connect
